{% extends 'base.html.twig' %}

{% block title %}Ma liste de courses{% endblock %}

{% block body %}
    <h1 data-tf="shopping.list">
        Ma liste de courses
    </h1>

    <h3 data-tf="shopping.now">
        Semaine {{ navigator.from|date('W') }}
        du {{ navigator.from|date('d/m/Y') }}
        au {{ navigator.to|date('d/m/Y') }}
    </h3>

    <a href="{{ url('home_date', { date: navigator.from|date('Y-m-d') }) }}" class="btn btn-secondary">
        Retour
    </a>

    <ul>
        {% for shopping in shoppings %}
            <li data-tf="shopping.item">
                <span>{{ shopping.ingredient.name }}</span>
                {% if shopping.isToTake %}
                    <a href="{{ url('shopping_take', { shopping: shopping.id }) }}" data-tf="shopping.take">Take</a>
                {% else %}
                    <a href="{{ url('shopping_untake', { shopping: shopping.id }) }}" data-tf="shopping.untake">Untake</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
