{{ form_widget(form._token) }}
{{ form_row(form.name, {'label': 'Nom'}) }}

<div class="row">
    <h3>
        Repas
    </h3>

    {{ form_errors(form) }}

    {% for day in form.days %}
        <div class="col-6">
            <div class="card mb-3">
                <div class="card-header text-uppercase d-flex justify-content-between">
                    <div>
                        {{ day.vars.value.dayLabel }}
                        {{ day.vars.value.timeLabel }}
                    </div>
                    <div>
                        {{ form_widget(day.used, { 'label': false }) }}
                    </div>
                </div>

                <div class="card-body">
                    {{ form_row(day.themes, { 'attr': { 'data-simple-select2': true } }) }}
                    {{ form_row(day.preparations, { 'attr': { 'data-simple-select2': true } }) }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
