{% extends 'base.html.twig' %}

{% block title %}Placard communautaire{% endblock %}

{% block body %}
    <h1 class="display-3 mb-3" data-tf="closet.meal.list">
        Placard communautaire
    </h1>

    <p>
        <strong>
            <span data-tf="closet.meal.total">{{ meals.getTotalItemCount }}</span> repas
            {{ null != search ? 'correspondant à la recherche' : '' }}
            dans le placard communautaire
        </strong>
    </p>

    <div class="mb-3">
        {{ form_start(form, {'attr': {
            'novalidate': 'novalidate',
            'data-tf': 'closet.search.form'
        }}) }}
            {{ form_row(form.search, {'label': 'Recherche'}) }}

            <button type="submit" class="btn btn-primary">
                Chercher
            </button>

            <a href="{{ url('meal_closet') }}" class="btn btn-secondary">
                RAZ
            </a>
        {{ form_end(form) }}
    </div>

    {{ knp_pagination_render(meals) }}

    <ul class="list-group mb-3">
        {% for meal in meals %}
            <li data-tf="closet.meal.item" class="list-group-item">
                <a href="{{ url('meal_add_from_closet', { meal: meal.id }) }}" class="btn btn-success" title="Ajouter à ses plats">+</a>
                <span data-tf="closet.meal.item.name">{{ meal.name }}</span>
            </li>
        {% endfor %}
    </ul>

    {{ knp_pagination_render(meals) }}
{% endblock %}
