{% extends 'base.html.twig' %}

{% block title %}Mes plats{% endblock %}

{% block body %}
    <h1 data-tf="meal.generator">
        Générer plusieurs plats
    </h1>

    {{ form_start(form, {'attr': {
        'novalidate': 'novalidate',
        'data-tf': 'meal.generator.form'
    }}) }}
        {{ form_errors(form) }}

        {% for i in 1..totalFields %}
            {{ form_row(form['ingredient'~i], {'label': 'Ensemble d\'ingrédients n°'~i}) }}
        {% endfor %}

        {{ form_row(form.preparation, {'label': 'Temps de préparation pour chacun des plats'}) }}
        {{ form_row(form.recurrence, {'label': 'Recurrence pour chacun des plats'}) }}
        {{ form_row(form.themes, {'label': 'Themes pour chacun des plats'}) }}

        <button type="submit" class="btn btn-primary">
            Générer
        </button>

        <a href="{{ url('meal') }}" class="btn btn-secondary">
            Retour
        </a>
    {{ form_end(form) }}
{% endblock %}
