{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <form method="post">
        <h1>
            Réinitialisation du mot de passe
        </h1>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <p>
                Saisissez le nouveau mot de passe pour votre compte Slack .
            </p>

            {{ form_row(form.plainPassword.first, {'label': false, 'attr': {
                'placeholder': 'Nouveau mot de passe',
                'data-tf': 'reset.password.first'
            }}) }}

            {{ form_row(form.plainPassword.second, {'label': false, 'attr': {
                'placeholder': 'Confirmer le nouveau mot de passe',
                'data-tf': 'reset.password.second'
            }}) }}


            <button type="submit" data-tf="reset.submit">
                Modifier mon mot de passe
            </button>

            <a href="{{ path('home') }}" data-tf="reset.back">
                Retour
            </a>
        {{ form_end(form) }}

    </form>
{% endblock %}
