{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 data-tf="home">
        1000 <br />
        MEALS
    </h1>

    <div>
        <a href="{{ url('meal') }}">Mes plats</a> |
        <a href="{{ url('week') }}">Mes semaines types</a> |
        <a href="{{ url('theme') }}">Mes thèmes</a> |
        <a href="{{ path('logout') }}">Logout</a>
    </div>

    <div>
        Bienvenue {{ app.user.email }}
    </div>
{% endblock %}
