{% extends 'base.html.twig' %}

{% block title %}Mes plats{% endblock %}

{% block body %}
    <h1 data-tf="theme.list">
        Mes thèmes
    </h1>

    <a href="{{ url('theme_new') }}" class="btn btn-primary">
        Je crée un nouveau thème
    </a>
    <a href="{{ url('home') }}" class="btn btn-secondary">
        Retour
    </a>

    <ul>
        {% for theme in themes %}
            <li data-tf="theme.item">
                <span data-tf="theme.item.name">{{ theme.name }}</span> /
                <a href="{{ url('theme_edit', { id: theme.id }) }}" class="btn btn-warning">Modifier</a>
                <a href="{{ url('theme_del', { id: theme.id }) }}" class="btn btn-danger">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
