{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 data-tf="home">
        1000 <br />
        MEALS
    </h1>

    <div class="alert alert-secondary">
        <h5>Menu</h5>
        <a href="{{ url('meal') }}">Mes plats</a> |
        <a href="{{ url('week') }}">Mes semaines types</a> |
        <a href="{{ url('theme') }}">Mes thèmes</a> |
        <a href="{{ path('logout') }}">Logout</a>
    </div>

    <div class="alert alert-secondary">
        <h5>Admin</h5>
        <a href="{{ url('admin_ingredient') }}">Gestion des ingrédients</a> |
        <a href="{{ url('admin_category') }}">Gestion des catégories</a> |
    </div>

    <div>
        Bienvenue {{ app.user.email }}
    </div>

    <div data-tf="menu.now">
        <h2>
            Semaine <span data-tf="menu.week">{{ navigator.from|date('W') }}</span>
            du {{ navigator.from|date('d/m/Y') }}
            au {{ navigator.to|date('d/m/Y') }}
        </h2>

        <div>
            {% if navigator.canPrev %}
                <a href="{{ url('home_date', { date: navigator.prev|date('Y-m-d') }) }}" data-tf="menu.prev.week">Semaine précédente</a>
            {% endif %}

            {% if navigator.canNext %}
                <a href="{{ url('home_date', { date: navigator.next|date('Y-m-d') }) }}" class="ms-2" data-tf="menu.next.week">Semaine suivante</a>
            {% endif %}
        </div>

        {% if null == menu %}
            <div data-tf="menu.none">
                Aucune semaine n'est encore générée !
            </div>
        {% else %}
            {% for day in menu.days %}
                <div data-tf="menu.item">
                    <h4>
                        {{ day.dayLabel }} : {{ day.timeLabel }}
                    </h4>
                    <div>
                        <span data-tf="menu.item.name">{{ day.meal ? day.meal.name : 'Aucun repas sélectionné !' }}</span>
                        <a href="{{ url('menu_day_change', { day: day.id }) }}" title="Changer de plat automatiquement">♺</a>

                        {% if day.meal %}
                            <a href="{{ url('menu_day_remove', { day: day.id }) }}"
                                title="Je ne prévois rien pour ce repas"
                                data-tf="menu.item.remove">
                                ✘
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <a href="{{ url('shopping', { menu: menu.id }) }}" data-tf="shopping.link">
                Voir la liste de course de cette semaine
            </a>
        {% endif %}

        {% if false == navigator.isPast() %}
            <div>
                <a href="{{ url('menu_generate', { date: navigator.from|date('Y-m-d') }) }}" data-tf="menu.link">
                    Générer le menu de la semaine
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
